header div.container.nav-container{
    justify-content: space-between;
    align-items: center;
}

header .logo-wrapper,
header nav,
header .search-wrapper{
    flex-grow: 1;
}

header .logo-wrapper a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    /* font-size: 30px; */
    font-weight: bold;
    font-family: "Montserrat";
}

header .logo-wrapper img{
    width: 200px;
    height: 70px;
}
header nav ul{
    display: flex;
    justify-content: space-between;
}

header nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-family: "Montserrat";
    font-weight: 400;
}

header .search-wrapper{
    text-align: end;
    font-size: 25px;
}

header .search-wrapper i{
    cursor: pointer;
}

header .mobile-nav-menu{
    width: 40px;
    height: 30px;
    display: none;
}

header .mobile-nav-menu span{
    background: #fff;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    display: block;
}

header div.banner-bg{
    background-image: url(../Images/header.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    /* position: relative; */
    /* min-height: 500px; */
}

/* header div.banner-bg::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../Images/header.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.7;
} */

header div.banner{
    padding-top: 150px;
    padding-bottom: 150px;
}

header div.banner h1{
    font-size: 125px;
    font-weight: 700;
    margin-bottom: 70px;
}

header div.banner p{
    max-width: 45%;/* Should be removed on lower screen*/ 
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 45px;
}

/* large devices */
@media screen and (max-width:992px) {
    header .search-wrapper,
    header nav{
        display: none;
    }
    header .mobile-nav-menu{
        display: block;
    }
    header .logo-wrapper img{
        width: 150px;
        height: 50px;
    }

    header div.container.banner{
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 75px;
        padding-bottom: 75px;
    }

    header div.banner h1{
        font-size: 75px;
    }

    header div.banner p{
        font-size: 25px;
        max-width: unset;
    }
}

/* extra small devices */
@media screen and (max-width: 600px) {

    header .logo-wrapper img{
        width: 100px;
        height: 40px;
    }

    header div.container.banner{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    header div.banner h1{
        font-size: 60px;
    }

    header div.banner p{
        font-size: 20px;
    }
}
