section.popular-menu{
    text-align: center;
    position: relative;
    overflow: hidden;
}

section.popular-menu .circle-one{
    position: absolute;
    top: -30px;
    right: -36px;
}

section.popular-menu .circle-two{
    position: absolute;
    bottom: 116px;
    left: -50px;
}

/* section.popular-menu::after{
    display: block;
    content: "";
    background-image: url(../Images/Shape_Circle_1.png);
    width: 191px;
    height: 191px;
    we cen put only one element!!!
} */

section.popular-menu h2{
    font-size: 64px;
}

section.popular-menu >p{
    font-size: 25px;
    font-weight: 400;
    max-width: 60%;
    margin: 30px auto;
}

section.popular-menu div.container.menu {
    justify-content: space-evenly;
}
section.popular-menu .container .menu-item{
    flex: 1 1 30%;
    padding: 20px auto;
}

section.popular-menu .container .menu-item img{
    border-radius: 50%;
    width: 250px;
    margin-bottom: 25px;
}

section.popular-menu .container .menu-item h3{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
}

section.popular-menu .container .menu-item p{
    font-size: 17px;
    font-weight: 400;

}

/* Large devices /desktop, laptop/ */
@media screen and (max-width: 992px) {
    section.popular-menu h2{
        font-size: 32px;
    }

    section.popular-menu >p{
        font-size: 20px;
        max-width: unset;
    }

    section.popular-menu .container .menu-item h3{
        font-size: 24px;
    }

    section.popular-menu .container .menu-item p{
        font-size: 14px;
        margin-bottom: 25px;
    }
}
